.friend-screen {
  padding: 0px var(--horizontal-space);
}

.friend-screen__channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friend-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(115, 99, 84, 0.5);
}
